absl-py
altair
annotated-types
anyio
asttokens
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
dotenv
exceptiongroup
executing
filelock
flatbuffers
fsspec
gast
gitdb
GitPython
google-auth
google-genai
google-pasta
grpcio
h11
h5py
httpcore
httpx
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
ml_dtypes
mpmath
namex
narwhals
nest-asyncio
networkx
numpy
opencv-python
opt_einsum
optree
packaging
pandas
parso
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
PyPDF2
python-dateutil
python-dotenv
pytz
pyzmq
referencing
requests
rich
rpds-py
rsa
scikit-learn
scipy
six
smmap
sniffio
stack-data
streamlit
streamlit-option-menu
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
toml
torch
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
unet
urllib3
watchdog
wcwidth
websockets
Werkzeug
wrapt
xgboost

